.filter-panel__wrap {
    padding: 38px 0 65px;
    display: flex;

    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.filter-panel__wrap details {
    display: flex;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

.filter-panel__wrap > details > summary > img {
padding-left: 10px;
} 

.filter-panel__wrap__main {
    position: relative;
    width: 375px;
}

.main_content {
    position: absolute;
    width: 375px;
    background-color: white;
    z-index: 100;
    box-shadow: 0 0 30px 10px #EBEBEB;
}

.filter-panel__wrap__main > summary {
    color: black;
}

.filter-panel__wrap__main[open] > summary,
.filter-panel__wrap__main details[open] > summary{
    color: $themecolor; 
}

.filter-panel__wrap__main:not([open]) > summary > img {
  filter: brightness(0);
}


.filter-panel__wrap details > summary {
    padding: 12px 12px 12px 17px;
}


.filter-panel__wrap__main[open] > summary {
    box-shadow: 0 0 30px 10px #EBEBEB;

}


.filter-panel__wrap__main details > summary{
    border-left: $themecolor 5px solid;
    border-bottom: #EBEBEB 1px solid;
    padding: 12px;
    margin: 0 17px 15px 17px;
}

.filter-panel__wrap__main details label {
    padding: 6px 11px 6px 17px;
    margin-left: 17px;
}

.filter-panel__wrap__main details input[type="radio"] {
    display: none;    
}

.filter-panel__wrap__secondary {
    position: relative;
}

.secondary_content {
    position: absolute;
    background-color: white;
    z-index: 100;
    box-shadow: 0 0 30px 10px #EBEBEB;
}

.filter-panel__wrap__secondary label {
    padding: 6px 11px 6px 17px;
}

.filter-panel__wrap__secondary label > input{
    margin-right: 9px;
}

