.subscribe {
    height: 448px;
    background: url('../img/subscribe_bg.png'),
    linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7));
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
}

.subscribe__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.subscribe__photo {
    width: 360px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.subscribe__photo__img {
    align-self: center;
}

.subscribe__do {
    align-self: center;
}

.subscribe-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color:#222224;
    font-weight: normal;
}

.subscribe-text-itallic {
    font-style: italic;
}

.subscribe-text-big {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    display: block;
}

.subscribe__form {
    margin-top: 32px;
    display: flex;
}
.subscribe__form__email {
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    padding: 10px;
    background-color: #E1E1E1;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    display: block;
    flex-grow: 1;
}

.subscribe__form__button {
    font-size: 14px;
    line-height: 17px;
    text-align: center;   
    color: #FFFFFF;
    padding: 10px;
    background-color: #F26376;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    display: block;
}
