@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width:1140px;
    width: 100%;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

@media (max-width: $pad-width) {
    .container {
        max-width: 735px;
        /*outline: 1px solid yellow; */
    }
}

@media (max-width: $phone-width) {
    .container {
        max-width: 360px;
        /* outline: 1px solid green; */
    }
}

@import 'eforms';

@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/category';
@import 'blocks/cards';
@import 'blocks/offers';
@import 'blocks/subscribe';
@import 'blocks/footer';
@import 'blocks/breadcrumb-panel';
@import 'blocks/filter-panel';
@import 'blocks/pages';
@import 'blocks/slider';
@import 'blocks/info';
@import 'blocks/cart';
@import 'blocks/registration';