@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 10px; */
  /* outline: 1px solid red; */
}

@media (max-width: 1024px) {
  .container {
    max-width: 735px;
    /* padding: 0 20px; */
    /* outline: 1px solid yellow; */
  }
}

@media (max-width: 812px) {
  .container {
    max-width: 360px;
    /* outline: 1px solid green; */
  }
}

/* общие стили для контролов форм */
/* поля ввода текста, почты и пароля в блоках main*/
.input-text {
  padding: 12px 16px 16px 16px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
}

form h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

/* стилизация check-box
с использованием картинки и символа */
.nice-checkbox {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.nice-checkbox input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.nice-checkbox span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 22px;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.nice-checkbox span:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 1px;
  background: url("../img/checkboxmarker.svg") 0 0 no-repeat;
}

.nice-checkbox input[type=checkbox]:checked + span:before {
  content: "\2714";
}

.nice-checkbox span:hover:before,
.nice-checkbox span:active:before {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.nice-checkbox input[type=checkbox]:disabled + span {
  color: #6F6E6E;
}

.nice-checkbox input[type=checkbox]:disabled + span:before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.6;
}

/* стилизация radio */
.nice-radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.nice-radio input:checked + span:after {
  opacity: 1;
}

.nice-radio span {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  margin-right: 30px;
}

.nice-radio span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  background: white;
}

.nice-radio span:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #5D5D5D;
  opacity: 0;
}

.header {
  background-color: #222222;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header__logo {
  text-decoration: none;
  margin-right: 41px;
}

.header__item {
  text-decoration: none;
}

.header__item:not(:last-child) {
  margin-right: 33px;
}

@media (max-width: 812px) {
  .header {
    /*
        &__right {
            display: inline;
            vertical-align: middle;
        } */
  }
  .header__item {
    /*vertical-align: bottom; */
  }
  .header__item:not(:first-child) {
    display: none;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
  }
}

.intro {
  background-color: #F1E4E6;
  height: 764px;
}

.intro__wrap {
  height: 100%;
  background-image: url("../img/intro_bg.png");
  background-repeat: no-repeat;
  background-position: -208px bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro__text {
  width: 50%;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.intro__text h1 {
  font-weight: bold;
  font-size: 32px;
}

.intro__text--main {
  font-weight: 900;
  font-size: 48px;
  display: block;
}

.intro__text--color {
  color: #F16D7F;
}

@media (max-width: 1024px) {
  .intro {
    height: 367px;
  }
  .intro__wrap {
    background-size: contain;
    background-position-x: 0;
  }
  .intro__text--main {
    font-size: 44px;
  }
}

@media (max-width: 812px) {
  .intro {
    height: 363px;
  }
  .intro__wrap {
    background: none;
  }
  .intro__text {
    width: 100%;
  }
  .intro__text h1 {
    font-size: 26px;
  }
  .intro__text--main {
    font-size: 38px;
  }
}

.category {
  margin-top: 65px;
}

.category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 180px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.category__item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.category__item:not(:last-child) {
  /* width: 360px; */
  width: calc(33.33% - 20px);
  margin: 0 0 30px 0;
  height: 260px;
}

.category__item--bg1 {
  background: url(../img/category1.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(33, 32, 32, 0.7)), to(rgba(33, 32, 32, 0.7)));
  background: url(../img/category1.jpg), linear-gradient(rgba(33, 32, 32, 0.7), rgba(33, 32, 32, 0.7));
  background-blend-mode: soft-light;
}

.category__item--bg2 {
  background-image: url("../img/category2.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(33, 32, 32, 0.7)), to(rgba(33, 32, 32, 0.7)));
  background-image: url("../img/category2.jpg"), linear-gradient(rgba(33, 32, 32, 0.7), rgba(33, 32, 32, 0.7));
  background-blend-mode: soft-light;
}

.category__item--bg3 {
  background: url("../img/category3.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(33, 32, 32, 0.7)), to(rgba(33, 32, 32, 0.7)));
  background: url("../img/category3.jpg"), linear-gradient(rgba(33, 32, 32, 0.7), rgba(33, 32, 32, 0.7));
  background-blend-mode: soft-light;
}

.category__item--bg4 {
  background: url("../img/category4.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(33, 32, 32, 0.7)), to(rgba(33, 32, 32, 0.7)));
  background: url("../img/category4.jpg"), linear-gradient(rgba(33, 32, 32, 0.7), rgba(33, 32, 32, 0.7));
  background-blend-mode: soft-light;
}

@media (max-width: 1024px) {
  .category {
    margin-top: 20px;
  }
  .category__item:not(:last-child) {
    width: calc(33.33% - 14px);
    margin: 0 0 20px 0;
  }
  .category__item:last-child {
    height: 116px;
  }
}

@media (max-width: 812px) {
  .category {
    margin-top: 65px;
  }
  .category__item:not(:last-child) {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .category__item:last-child {
    height: 111px;
  }
}

/* родительски блоки карточек на разных страницах */
.cards {
  margin: 95px 0;
}

.cards__title {
  font-size: 30px;
  line-height: 36px;
}

.cards__description {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.cards__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__button {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-decoration: none;
  border: #F16D7F 1px solid;
  padding: 15px 40px;
  margin-top: 18px;
}

.cards__button:hover {
  color: white;
  background-color: #F16D7F;
}

.cards__align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* карточка товара */
.cards__item {
  background-color: #F8F8F8;
  width: 360px;
  height: 580px;
  margin-bottom: 30px;
  position: relative;
}

.cards__item:hover .cards__item__overlay {
  opacity: 1;
}

.cards__item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards__item__overlay button {
  padding: 11px;
  background: rgba(255, 255, 255, 0);
  font-size: 14px;
  line-height: 17px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__item__overlay button > span {
  padding-left: 11px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cards__item__info {
  margin: 25px 20px 20px 20px;
}

.cards__item__info a {
  text-decoration: none;
}

.cards__item__info a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

.cards__item__info h3 {
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.cards__item__info p,
.cards__item__info .item__description {
  /* временно для совместимости с другими страницами */
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
  margin-bottom: 18px;
}

.cards__item__info span,
.cards__item__info .item__price {
  /* временно для совместимости с другими страницами */
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.catalog__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards_margin {
  margin-top: 130px;
  margin-bottom: 100px;
  padding: 0;
}

@media (max-width: 1024px) {
  .cards {
    margin: 156px 0 65px;
  }
  .cards__description {
    margin-bottom: 64px;
  }
  .cards__item {
    margin-bottom: 16px;
  }
}

@media (max-width: 812px) {
  .cards {
    margin: 65px 0 95px;
  }
  .cards__description {
    margin-bottom: 72px;
  }
}

.offers {
  background-color: #222224;
}

.offers__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 103px 0;
}

.offers__item {
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offers__item img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.offers__item h5 {
  font-size: 20px;
  line-height: 24px;
  /* color: #FBFBFB; */
  text-align: center;
  margin: 28px 0 16px;
}

.offers__item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  /* color: #FBFBFB; */
  padding: 0 30px;
}

@media (max-width: 1024px) {
  .offers__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 64px 0;
  }
  .offers__item {
    max-width: 360px;
    padding-top: 48px;
  }
  .offers__item p {
    padding: 0;
  }
}

@media (max-width: 812px) {
  .offers__wrap {
    padding: 0 0 81px 0;
  }
}

.subscribe {
  height: 448px;
  background: url("../img/subscribe_bg.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7)));
  background: url("../img/subscribe_bg.png"), linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7));
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
}

.subscribe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.subscribe__photo {
  width: 360px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__photo > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.subscribe__photo > p {
  padding-top: 48px;
}

.subscribe__do {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.subscribe__form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__form input {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding: 10px;
  background-color: #E1E1E1;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.subscribe__form button {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 10px;
  background-color: #F16D7F;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  display: block;
}

.subscribe-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  font-weight: normal;
}

.subscribe-text-itallic {
  font-style: italic;
}

.subscribe-text-big {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  display: block;
}

@media (max-width: 1024px) {
  .subscribe {
    height: 694px;
    background-position: bottom;
  }
  .subscribe__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__photo {
    padding-top: 54px;
    width: 80%;
  }
  .subscribe__do {
    padding-bottom: 140px;
  }
  .subscribe-text-big {
    line-height: 162%;
  }
}

@media (max-width: 812px) {
  .subscribe {
    height: 550px;
  }
  .subscribe__do {
    padding-bottom: 110px;
  }
  .subscribe-text-big {
    line-height: 153%;
  }
  .subscribe-text {
    font-size: 16px;
    line-height: 16px;
  }
}

.footer {
  background-color: #222224;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
}

.footer__left {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right__groups {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 8px;
  display: block;
  width: 32px;
  height: 32px;
}

.footer__right__groups:hover {
  background-color: #F16D7F;
  color: white;
}

.footer__right__groups:not(:last-child) {
  margin-right: 8px;
}

@media (max-width: 812px) {
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 43px 0 9px 0;
  }
  .footer__right {
    padding-bottom: 40px;
  }
}

.breadcrumb-panel {
  background-color: #F8F3F4;
}

.breadcrumb-panel__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumb-panel__wrap h1 {
  padding: 60px 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb-panel__wrap ol {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.breadcrumb-panel__wrap li:not(:first-child)::before {
  content: '/ ';
}

.breadcrumb-panel__wrap li:not(:last-child) {
  padding-right: 5px;
}

.breadcrumb-panel__wrap a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.breadcrumb-panel__wrap li:last-child a {
  color: #F16D7F;
}

.filter-panel__wrap {
  padding: 38px 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter-panel__wrap details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.filter-panel__wrap > details > summary > img {
  padding-left: 10px;
}

.filter-panel__wrap__main {
  position: relative;
  width: 375px;
}

.main_content {
  position: absolute;
  width: 375px;
  background-color: white;
  z-index: 100;
  -webkit-box-shadow: 0 0 30px 10px #EBEBEB;
          box-shadow: 0 0 30px 10px #EBEBEB;
}

.filter-panel__wrap__main > summary {
  color: black;
}

.filter-panel__wrap__main[open] > summary,
.filter-panel__wrap__main details[open] > summary {
  color: #F16D7F;
}

.filter-panel__wrap__main:not([open]) > summary > img {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.filter-panel__wrap details > summary {
  padding: 12px 12px 12px 17px;
}

.filter-panel__wrap__main[open] > summary {
  -webkit-box-shadow: 0 0 30px 10px #EBEBEB;
          box-shadow: 0 0 30px 10px #EBEBEB;
}

.filter-panel__wrap__main details > summary {
  border-left: #F16D7F 5px solid;
  border-bottom: #EBEBEB 1px solid;
  padding: 12px;
  margin: 0 17px 15px 17px;
}

.filter-panel__wrap__main details label {
  padding: 6px 11px 6px 17px;
  margin-left: 17px;
}

.filter-panel__wrap__main details input[type="radio"] {
  display: none;
}

.filter-panel__wrap__secondary {
  position: relative;
}

.secondary_content {
  position: absolute;
  background-color: white;
  z-index: 100;
  -webkit-box-shadow: 0 0 30px 10px #EBEBEB;
          box-shadow: 0 0 30px 10px #EBEBEB;
}

.filter-panel__wrap__secondary label {
  padding: 6px 11px 6px 17px;
}

.filter-panel__wrap__secondary label > input {
  margin-right: 9px;
}

.pages {
  margin: 18px 0 95px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: #EBEBEB 1px solid;
}

.pages button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EBEBEB;
  background-color: white;
  border: none;
  margin: 12px;
}

.slider {
  height: 777px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider > button {
  height: 47px;
  width: 47px;
  padding: 12px 17px;
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slider > div {
  padding-top: 11px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* css-фильтр-генератор 
   https://codepen.io/sosuke/pen/Pjoqqp */
.slider button:hover img {
  -webkit-filter: invert(55%) sepia(60%) saturate(1836%) hue-rotate(313deg) brightness(103%) contrast(89%);
          filter: invert(55%) sepia(60%) saturate(1836%) hue-rotate(313deg) brightness(103%) contrast(89%);
}

.info {
  position: relative;
  /* поверх вышестоящего блока */
  border: 1px solid #EAEAEA;
  background-color: white;
  margin-top: -60px;
  padding: 65px 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.info__line1 {
  width: 65px;
  border: none;
  border-top: 3px solid #EF5B70;
  margin: 12px 0;
}

.info__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.info__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  padding: 48px 42px 32px 42px;
}

.info__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.info__line2 {
  margin: 65px 0;
  width: 100%;
  border: none;
  border-top: 1px solid  #EAEAEA;
}

.info__add {
  background-color: white;
  border-color: #EF5B70;
  border-style: solid;
  padding: 14px 24px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__add img {
  -webkit-filter: invert(55%) sepia(60%) saturate(1836%) hue-rotate(313deg) brightness(103%) contrast(89%);
          filter: invert(55%) sepia(60%) saturate(1836%) hue-rotate(313deg) brightness(103%) contrast(89%);
}

.info__add span {
  padding-left: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cart {
  margin: 96px 0 128px;
}

.cart .decor {
  color: #F16D7F;
}

.cart__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__adress {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__adress button {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  background-color: white;
  margin: 64px 0;
  padding: 10px 14px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.cart__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F5F3F3;
  padding: 42px;
}

.cart__summary .p1 {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cart__summary .p2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cart__summary hr {
  border: none;
  border-top: 1px solid #E2E2E2;
  margin: 21px 0 17px;
}

.cart__summary button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: white;
  padding: 15px 40px;
  border: none;
  background-color: #F16D7F;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-shadow: 20px 20px 10px #E5E5E5;
          box-shadow: 20px 20px 10px #E5E5E5;
}

.cart__item__photo,
.cart__item__photo > img {
  height: 360px;
}

.cart__item__about {
  max-width: 390px;
  padding: 22px 60px 22px 31px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__item__about h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.cart__item__about p {
  margin-bottom: 4px;
}

.cart__item__about input {
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  padding: 0 16px;
  margin-left: 24px;
  width: 44px;
}

.cart__item__about input::-webkit-outer-spin-button, .cart__item__about input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart__item__about input, .cart__item__about input:hover, .cart__item__about input:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

.cart__item__about .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__item button {
  border: none;
  background-color: white;
  padding: 28px 22px 0 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 14px;
  line-height: 17px;
}

.cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__buttons button {
  padding: 16px 40px;
  background-color: white;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  color: black;
}

@-webkit-keyframes nice-button {
  0% {
    border-top: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
  }
  12% {
    border-top: 3px solid #4A4A4A;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
  }
  25% {
    border-top: 3px solid #4A4A4A;
    border-right: 3px solid #4A4A4A;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
  }
  37% {
    border-top: 3px solid #4A4A4A;
    border-right: 3px solid #4A4A4A;
    border-bottom: 3px solid #4A4A4A;
    border-left: 3px solid lightgrey;
  }
  50% {
    border-top: 3px solid #4A4A4A;
    border-right: 3px solid #4A4A4A;
    border-bottom: 3px solid #4A4A4A;
    border-left: 3px solid #4A4A4A;
  }
  63% {
    border-top: 3px solid lightgrey;
    border-right: 3px solid #4A4A4A;
    border-bottom: 3px solid #4A4A4A;
    border-left: 3px solid #4A4A4A;
  }
  75% {
    border-top: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid #4A4A4A;
    border-left: 3px solid #4A4A4A;
  }
  87% {
    border-top: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid #4A4A4A;
  }
  100% {
    border-top: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
  }
}

@keyframes nice-button {
  0% {
    border-top: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
  }
  12% {
    border-top: 3px solid #4A4A4A;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
  }
  25% {
    border-top: 3px solid #4A4A4A;
    border-right: 3px solid #4A4A4A;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
  }
  37% {
    border-top: 3px solid #4A4A4A;
    border-right: 3px solid #4A4A4A;
    border-bottom: 3px solid #4A4A4A;
    border-left: 3px solid lightgrey;
  }
  50% {
    border-top: 3px solid #4A4A4A;
    border-right: 3px solid #4A4A4A;
    border-bottom: 3px solid #4A4A4A;
    border-left: 3px solid #4A4A4A;
  }
  63% {
    border-top: 3px solid lightgrey;
    border-right: 3px solid #4A4A4A;
    border-bottom: 3px solid #4A4A4A;
    border-left: 3px solid #4A4A4A;
  }
  75% {
    border-top: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid #4A4A4A;
    border-left: 3px solid #4A4A4A;
  }
  87% {
    border-top: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid #4A4A4A;
  }
  100% {
    border-top: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
  }
}

.registration {
  margin-top: 64px;
  margin-bottom: 96px;
}

.registration__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration__wrap form {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__wrap form p {
  margin-top: 15px;
  margin-bottom: 39px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__wrap form button {
  padding: 16px 25px 16px 30px;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background-color: #F16D7F;
  border: 3px solid lightgrey;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
  -webkit-animation: 2s nice-button infinite;
          animation: 2s nice-button infinite;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.registration__wrap form button:hover {
  color: #4A4A4A;
}

.registration__wrap form button:hover img {
  fill: #4A4A4A;
}

.registration__wrap form button > img {
  padding-left: 20px;
}

.registration__wrap form .radio-group {
  padding: 35px 0;
}

.registration__wrap__list {
  padding-left: 128px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: black;
}

.registration__wrap__list h4 {
  margin-bottom: 20px;
}

.registration__wrap__list ul {
  list-style: url(../img/tick.svg);
  list-style-position: inside;
}
/*# sourceMappingURL=style.css.map */