* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #222222;
}

.container {
    max-width:1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

.header__logo {
    text-decoration: none;
    margin-right: 41px;
}

.header__item {
    text-decoration: none;
}

.header__item:not(:last-child) {
    margin-right: 33px;
}

.intro {
    background-color: #F1E4E6;
    height: 764px;
}

.intro__wrap {
    height: 100%;
    background-image: url("../img/intro_bg.png");
    background-repeat: no-repeat;
    background-position: -208px bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.intro__text {
    max-width: 430px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.intro__text__h1 {
    font-weight: bold;
    font-size: 32px;
}

.intro__text__main {
    font-weight: 900;
    font-size: 48px;
    display: block;
}

.intro__text__color {
    color: #F16D7F;
}

.category {
    margin-top: 65px;
}

.category__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180px;
    width: 100%;

    font-size: 16px;
    line-height: 19px;
    color: white;
}

.category__item h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.category__item:not(:last-child) {
    width: 360px;
    margin: 0 0 30px 0;
    height: 260px;
}

.category__bg1 {
background: 
    url(../img/category1.jpg) ,
    linear-gradient(rgba(33, 32, 32, 0.7), rgba(33, 32, 32, 0.7)); 
    background-blend-mode: soft-light;
}

.category__bg2 {
    background-image: url("../img/category2.jpg"),
    linear-gradient(rgba(33, 32, 32, 0.7), rgba(33, 32, 32, 0.7)); 
    background-blend-mode: soft-light;
}

.category__bg3 {
    background: url("../img/category3.jpg"),
    linear-gradient(rgba(33, 32, 32, 0.7), rgba(33, 32, 32, 0.7)); 
    background-blend-mode: soft-light;
}

.category__bg4 {
    background: url("../img/category4.jpg"),
    linear-gradient(rgba(33, 32, 32, 0.7), rgba(33, 32, 32, 0.7)); 
    background-blend-mode: soft-light;
}

.cards {
    margin: 95px 0;
}

.cards__align {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards__title {
    font-size: 30px;
    line-height: 36px;
}

.cards__description {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.cards__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards__item {
    background-color: #F8F8F8;
    width: 360px;
    height: 580px;
    margin-bottom: 30px;
    position: relative;
}

.cards__item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.cards__item:hover .cards__item__overlay {
    opacity: 1;
}

.cards__item__overlay button {
    padding: 11px;
    background:rgba(255, 255, 255, 0);
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: flex;
}

.cards__item__overlay button > span {
    padding-left: 11px;
    align-self: center;
}




.cards__item__info {
    margin: 25px 20px 20px 20px;
}

.cards__item__info a {
    text-decoration: none;
}

.cards__item__info a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.cards__item__info h3 {
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: black;
    font-weight: normal;  
}

.item__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;   
    color: #5D5D5D;

    margin-top: 12px;
    margin-bottom: 18px;
}

.item__price {
    font-size: 16px;
    line-height: 19px;    
    color: #F16D7F;
} 

.cards__button {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
    border: #F26376 1px solid;
    padding: 15px 40px;
    margin-top: 18px;
}

.cards__button:hover {
    color: white;
    background-color: #F26376;
}

.offers {
    background-color: #222224;
}

.offers__wrap {
    display: flex;
    justify-content: space-between;
    padding: 103px 0;
}

.offers__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.offers__item img {
   align-self: center;
}

.offers__item h5 {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    margin: 28px 0 16px;
}

.offers__item p {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;    
    color: #FBFBFB;
    padding: 0 30px;
}

.subscribe {
    height: 448px;
    background: url('../img/subscribe_bg.png'),
    linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7));
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
}

.subscribe__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.subscribe__photo {
    width: 360px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.subscribe__photo__img {
    align-self: center;
}

.subscribe__do {
    align-self: center;
}

.subscribe-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color:#222224;
    font-weight: normal;
}

.subscribe-text-itallic {
    font-style: italic;
}

.subscribe-text-big {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    display: block;
}

.subscribe__form {
    margin-top: 32px;
    display: flex;
}
.subscribe__form__email {
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    padding: 10px;
    background-color: #E1E1E1;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    display: block;
    flex-grow: 1;
}

.subscribe__form__button {
    font-size: 14px;
    line-height: 17px;
    text-align: center;   
    color: #FFFFFF;
    padding: 10px;
    background-color: #F26376;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    display: block;
}

.footer {
    background-color: #222224;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.footer__left {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    align-self: center;
}

.footer__right {
    display: flex;

} 

.footer__right__groups {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 8px;
    display: block;
    width: 32px;
    height: 32px;
}

.footer__right__groups:hover {
    background-color: #F26376;
    color: white;
}

.footer__right__groups:not(:last-child) {
    margin-right: 8px;
}

.breadcrumb-panel {
    background-color: #F8F3F4;
}

.breadcrumb-panel__wrap {
    display: flex;
    justify-content: space-between;
}

.breadcrumb-panel__wrap h1 {
    padding: 60px 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumb-panel__wrap ol {
    align-self: center;
    display: flex;
    list-style-type: none;
}

.breadcrumb-panel__wrap li:not(:first-child)::before {
    content: '/ ';
}

.breadcrumb-panel__wrap li:not(:last-child) {
    padding-right: 5px;
}

.breadcrumb-panel__wrap a {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}

.breadcrumb-panel__wrap li:last-child a {
    color: #F16D7F;
}

.catalog__wrap {
    display: flex;
    flex-direction: column;
}

.filter-panel__wrap {
    padding: 38px 0 65px;
    display: flex;

    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.filter-panel__wrap details {
    display: flex;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

.filter-panel__wrap > details > summary > img {
padding-left: 10px;
} 

.filter-panel__wrap__main > summary {
    color: black;
}

.filter-panel__wrap__main[open] > summary,
.filter-panel__wrap__main details[open] > summary{
    color: #F16D7F; 
}

.filter-panel__wrap__main:not([open]) > summary > img {
  filter: brightness(0);
}


.filter-panel__wrap > details[open] {
    box-shadow: 0 0 30px 10px #EBEBEB;
}


.filter-panel__wrap details > summary {
    /*padding-left: 17px;*/
    padding: 12px 12px 12px 17px;
}


.filter-panel__wrap__main details > summary{
    border-left: #F16D7F 5px solid;
    border-bottom: #EBEBEB 1px solid;
    padding: 12px;
    margin-left: 17px;
}

.filter-panel__wrap__main details label {
    padding: 6px 11px 6px 17px;
    margin-left: 17px;
}

.filter-panel__wrap__main details input[type="radio"] {
    display: none;    
}

.filter-panel__wrap__secondary label {
    padding: 3px 11px 3px 17px;
}

.filter-panel__wrap__secondary label > input{
    margin-right: 9px;
}

.pages {
    margin: 18px 0 95px;
    align-self: center;
    border: #EBEBEB 1px solid;
}

.pages button {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #EBEBEB;

    background-color: white;
    border: none;
    margin: 12px;
}

.nice-checkbox {
	display: block;
	margin: 0 0 10px 0;
	user-select: none; 
	position: relative;
}
.nice-checkbox input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.nice-checkbox span {
	display: inline-block;
	position: relative; 
	padding: 0 0 0 22px; 
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;   
}
.nice-checkbox span:before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 1px;
    background: url('../img/checkboxmarker.svg') 0 0 no-repeat;
}
 

.nice-checkbox input[type=checkbox]:checked + span:before {
  content: "\2714";
}
 
.nice-checkbox span:hover:before, 
.nice-checkbox span:active:before {
	filter: brightness(80%);
}
 
.nice-checkbox input[type=checkbox]:disabled + span {
	color: #6F6E6E;
}
.nice-checkbox input[type=checkbox]:disabled + span:before {
	filter: grayscale(100%);
	opacity: 0.6;
}

.slider {
    height: 777px;
    background-color:  #F7F7F7;
    display: flex;
    justify-content: space-between;
}


.slider > button {
    height: 47px;
    width: 47px;
    padding: 12px 17px;
    border: none;
    background-color: rgba(42, 42, 42, 0.15);
    align-self: center;
}

.slider > div {
    /* padding-top: 11px ;*/
    /* border: greenyellow 1px solid; */
    width: 100%;
    background: url('../img/slider_card.jpg') top 10px center no-repeat;
}


/* css-фильтр-генератор 
   https://codepen.io/sosuke/pen/Pjoqqp */
.slider button:hover img {
    filter: invert(55%) sepia(60%) 
        saturate(1836%) hue-rotate(313deg) 
        brightness(103%) contrast(89%);
}

.info {
    border: 1px solid #EAEAEA;
    background-color: white;
    margin-top: -60px; 
    padding: 65px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2 {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.info__line1 {
    color: #EF5B70;
    width: 65px;
    height: 3px;
    margin: 12px 0;
}

.info__title {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}

.info__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    padding: 48px 42px 32px 42px;
}

.info__price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;    
    color: #EF5B70;    
}

.info__line2 {
    margin: 65px 0;
    width: 100%;
}

.info__add {
    background-color: white;
    border-color:  #EF5B70;
    border-style: solid;
    padding: 14px 24px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    display: flex;
}

.info__add img {
    filter: invert(55%) sepia(60%) 
    saturate(1836%) hue-rotate(313deg) 
    brightness(103%) contrast(89%);
}

.info__add span {
    padding-left: 24px;
    align-self: center;
}

.cards_margin {
    margin-top: 130px;
    margin-bottom: 100px;
    padding: 0;
}
